@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="color: black;">
    <h1 class="display-4">Welcome to Doors2Heaven</h1>
    <img src="~/images/Doors.jpg" alt="Description of the image" height="700" width="1200">
</div>


